@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../../.flowbite-react/class-list.json';

body {
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'lato', sans-serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e4e4e4;
  background-color: #fdfbee;
}

h1,
h2,
h3,
a {
  font-family: 'Nunito', sans-serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}

body {
  @apply bg-[url(/images/testImage.jpg)];
}

h1 {
  @apply font-extrabold not-italic text-xl text-teal-600;
}

.title {
  @apply tracking-wide text-4xl text-teal-600;
}

h2 {
  @apply text-xl font-bold;
}

/* Header Section */
.Header ul li {
  @apply text-lg font-semibold hover:text-teal-600;
}

.Header ul li a.active {
  @apply text-teal-600;
}

@import 'tailwindcss';

/* Tables Initial Style  */
table {
  @apply w-full min-w-full table-auto;
}

table thead {
  @apply bg-blue-50 text-blue-800;
}

table thead th {
  @apply text-center py-4 px-2 border-b-2 border-blue-200 font-bold first:rounded-tl-xl last:rounded-tr-xl whitespace-nowrap text-sm;
}

table tbody td {
  @apply text-center py-2.5 px-2 border-b border-blue-100 text-blue-900 whitespace-nowrap text-sm;
}

table tbody tr:hover td {
  @apply text-black bg-blue-50/50;
}

/* Form Initial Style */
form {
  @apply max-w-md mx-auto;
}

form .form-control {
  @apply flex flex-col gap-1.5 pt-3;
}

form label {
  @apply font-semibold px-1;
}

form input {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}
form select {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}

form textarea {
  @apply flex-1 border border-gray-300 p-2 rounded-lg bg-white opacity-60 text-black;
}

/* Buttons Style */
.btn {
  @apply py-2.5 px-4 rounded-lg  cursor-pointer border-2 font-semibold duration-300;
}

.btn-primary {
  @apply border-teal-900 text-white bg-teal-900  hover:bg-teal-600 hover:border-teal-600;
}

.btn-primary-fill {
  @apply bg-teal-600 border-teal-600 text-white hover:bg-teal-600/80;
}

.btn-secondary {
  @apply border-gray-400 bg-gray-400 opacity-80 text-gray-800 hover:text-white hover:bg-gray-600 hover:border-gray-600;
}

.btn-comment {
  @apply border-orange-600 bg-orange-600 text-white hover:border-orange-500 hover:bg-orange-500;
}

.btn-disabled {
  @apply border-gray-400 bg-gray-400 opacity-50 text-gray-800;
}

/* card Style*/
.card {
  /* @apply border-2 border-teal-600 rounded-lg shadow-xl p-5 text-center my-5 mx-auto; */
  @apply shadow-2xl rounded-lg shadow-xl p-5 my-5 mx-auto;
}

.triangle {
  aspect-ratio: 1;
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

/* custom dropdown */
.relative-div {
  position: relative;
  margin: 0 20px;
}

.relative-div .user-profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe4f2d;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 15px;
}

.relative-div .custom-profile-dropdown {
  width: 200px;
  position: absolute;
  top: 60px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  box-sizing: 0 5px 25px rgb(0 0 0 / 10%);
  border-radius: 15px;
  transition: 0.5s;
  border: 1px solid #e4e4e4;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
}

.relative-div .custom-profile-dropdown.active {
  visibility: visible;
  opacity: 1;
}

.relative-div .custom-profile-dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

.custom-profile-dropdown h3.menu-name {
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 600;
  line-height: 1.2em;
  color: #333;
  border-bottom: 1px solid #e4e4e4;
}

.menu-items-div {
  width: 100%;
}

.menu-item {
  color: #333;
}

.menu-item-link {
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  text-align: left;
  color: #333;
}

.menu-item .menu-item-link.active,
.menu-item .menu-item-link:hover {
  color: #115e59;
}

/* spinner */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  animation: l25 1s infinite;
}
.loader::before {
  content: 'Loading...';
}

@keyframes l25 {
  0%,
  12.5% {
    transform: translate(10px, 0);
  }
  13%,
  25% {
    transform: translate(4px, -4px);
  }
  26%,
  37.5% {
    transform: translate(2px, 8px);
  }
  38%,
  50% {
    transform: translate(12px, -6px);
  }
  51%,
  62.5% {
    transform: translate(0, 12px);
  }
  63%,
  75% {
    transform: translate(-8px, -4px);
  }
  76%,
  86.5% {
    transform: translate(-12px, 6px);
  }
  87%,
  100% {
    transform: translate(6px, 0);
  }
}
