@import 'tailwindcss';
@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../../.flowbite-react/class-list.json';

body {
  font-family: 'lato', sans-serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #364153;
  background-color: #f3f4f6;
}

h1,
h2,
h3,
a {
  font-family: 'Nunito', sans-serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}

/* body {
  @apply bg-[url(/images/testImage.jpg)];
} */

h1 {
  @apply font-extrabold not-italic text-xl text-teal-600;
}

.title {
  @apply tracking-wide text-4xl text-teal-300;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply font-bold;
}

/* Header Section */
.Header ul li {
  @apply sm:text-lg sm:font-semibold hover:bg-gray-300/20 rounded-lg p-2;
}

.Header ul li a.active {
  @apply sm:text-teal-300;
}

/* Form Initial Style */
form {
  @apply max-w-md mx-auto;
}

form .form-control {
  @apply flex flex-col gap-1.5 pt-3;
}

form label {
  @apply font-semibold px-1;
}

form input {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}
form select {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}

form textarea {
  @apply flex-1 border border-gray-300 p-2 rounded-lg bg-white opacity-60 text-black;
}

/* Buttons Style */
.btn {
  @apply py-2.5 px-4 rounded-lg  cursor-pointer border-2 font-semibold duration-300;
}

.btn-primary {
  @apply border-amber-600 text-gray-100 bg-amber-600  hover:bg-amber-500 hover:border-amber-500;
}

.btn-secondary {
  @apply border-gray-400 bg-gray-400 opacity-80 text-gray-800 hover:text-white hover:bg-gray-600 hover:border-gray-600;
}

.btn-comment {
  @apply border-blue-950 bg-blue-950 text-white hover:border-blue-800 hover:bg-blue-800;
}

.btn-disabled {
  @apply border-gray-400 bg-gray-400 opacity-50 text-gray-800;
}

/* card Style*/
.card {
  @apply rounded-lg my-5 mx-auto;
}

.triangle {
  aspect-ratio: 1;
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

/* custom dropdown */
.relative-div .custom-profile-dropdown {
  box-sizing: 0 5px 25px rgb(0 0 0 / 10%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.relative-div .custom-profile-dropdown.active {
  visibility: visible;
  opacity: 1;
}

/* .relative-div .custom-profile-dropdown::before {
  @apply absolute -top-1.5 right-4.5 w-5 h-5 bg-gray-700 content-[''] border-t-gray-700 border-l-gray-700 transform-[rotate(45deg)];
} */

.menu-item-link {
  @apply py-1 w-full cursor-pointer text-sm text-left text-gray-200;
}

.menu-item-text {
  @apply px-2 py-1;
}

.menu-item .menu-item-link.active,
.menu-item .menu-item-link:hover {
  @apply active:bg-amber-50 hover:bg-gray-400/25 rounded-lg;
}

/* spinner */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  animation: l25 1s infinite;
}
.loader::before {
  content: 'Loading...';
}

@keyframes l25 {
  0%,
  12.5% {
    transform: translate(10px, 0);
  }
  13%,
  25% {
    transform: translate(4px, -4px);
  }
  26%,
  37.5% {
    transform: translate(2px, 8px);
  }
  38%,
  50% {
    transform: translate(12px, -6px);
  }
  51%,
  62.5% {
    transform: translate(0, 12px);
  }
  63%,
  75% {
    transform: translate(-8px, -4px);
  }
  76%,
  86.5% {
    transform: translate(-12px, 6px);
  }
  87%,
  100% {
    transform: translate(6px, 0);
  }
}
